.pages-home {
    margin-top: 100px;
}

.pages-home .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.pages-home h2 {
    font-weight: 300;
}

.pages-home .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}