.pages-licence {
}

.pages-licence .col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}

.pages-licence h2 {
    font-weight: 300;
}

.pages-licence .col-lg-6 p {
    margin-right: 10px;
    margin-left: 10px;
}