<div class="frame-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="{{navItems[0].link}}">Bud</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-repeat="navItem in navItems" ng-class="{active: isNavItemActive(navItem)}" ng-show="!navItem.showPredicate || navItem.showPredicate()">
            <a ui-sref="{{navItem.link}}">{{navItem.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="margin-bottom"></div>
</div>