<div class="pages-guide">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <h1 class="slim-font">Guide</h1>


        <h2>Installation</h2>

        <h3 class="slim-font">Windows</h3>

        <p>
          You can install Bud via <a href="https://chocolatey.org/packages/bud">Chocolatey</a>.
          Use this command:
        </p>

        <pre><code>choco install bud</code></pre>

        <p>
          Verify that your installation succeeded by running <code>bud</code> in the command prompt.
        </p>

        <h3 class="slim-font">Linux</h3>

        <div class="alert alert-warning">
          <span class="label label-warning">TODO:</span> Add support for Linux.
        </div>

        <h3 class="slim-font">OS X</h3>

        <div class="alert alert-warning">
          <span class="label label-warning">TODO:</span> Add support for OS X.
        </div>


        <h2>Usage</h2>


        <h3 class="slim-font">Creating a new project</h3>

        <p>
          Say the name of your project is <code>Foo</code>.
          Create the <code>Foo</code> directory, and place your C# sources into
          <code>Foo/src/main/cs</code>.
        </p>

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Important:</h3>
          </div>

          <div class="panel-body">
            You should give your project a unique name.
            Search for packages on <a href="https://www.nuget.org/packages/">NuGet</a> to ensure
            you're using a unique name.
          </div>
        </div>


        <h3 class="slim-font">Customising the build</h3>

        <p>
          To customise your builds, create the build configuration file
          <code>.bud/Build.cs</code>. If this file does not exist, Bud will
          use a default build configuration.
          The following build configuration is equivalent to the default one.
        </p>

        <pre><code>using Bud;
using Bud.CSharp;
using Bud.Projects;
using System.IO;

public class Build : IBuild {
  public Settings Setup(Settings settings, string baseDir) {
    return settings.Project(Path.GetFileName(dirOfProjectToBeBuilt), baseDir, Cs.Exe(), Cs.Test());
  }
}</code></pre>

        <p>
          Call methods on the <code>settings</code> object to customise your build configuration.
        </p>


        <h3 class="slim-font">Building</h3>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Task:</h3>
          </div>

          <div class="panel-body">
            <pre><code>build</code></pre>
          </div>
        </div>

        <p>
          Run <code>bud build</code> in the <code>Foo</code> directory. This will produce the
          executable for your project in <code>.bud/output/main/cs/debug/bin/Foo.exe</code>.
        </p>

        <div class="alert alert-info">
          <span class="label label-primary">Note:</span> Bud invokes the <code>build</code> task
          by default (if you run Bud without any command line arguments).
        </div>


        <h3 class="slim-font">Testing</h3>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Task:</h3>
          </div>

          <div class="panel-body">
            <pre><code>test</code></pre>
          </div>
        </div>

        <div class="alert alert-warning">
          <span class="label label-warning">TODO:</span> Testing is not yet implemented.
        </div>


        <h3 class="slim-font">Cleaning</h3>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Task:</h3>
          </div>

          <div class="panel-body">
            <pre><code>clean</code></pre>
          </div>
        </div>

        <p>
          Run <code>bud clean</code> to clean the files in the
          <code>.bud/output</code> folder.
        </p>


        <h3 class="slim-font">Generating solution and project files</h3>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Task:</h3>
          </div>

          <div class="panel-body">
            <pre><code>generateSolution</code></pre>
          </div>
        </div>

        <p>
          Run <code>bud generateSolution</code> to generate a Visual Studio solution for
          your project. Bud will place the solution file <code>Foo.sln</code> into the root
          directory of your project. Bud will also generate multiple csproj files in
          <code>src/[scope]/cs</code> folders.
        </p>

        <p>
          The following command will generate solution files for the build-level sources (i.e., to be able to edit the
          <code>.bud/Build.cs</code> file in an IDE):
        </p>

        <pre><code>bud -b generateSolution</code></pre>


        <h3 class="slim-font">Publishing to NuGet</h3>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Task:</h3>
          </div>

          <div class="panel-body">
            <pre><code>publish</code></pre>
          </div>
        </div>

        <p>
          You have to create an account with <a href="https://www.nuget.org/">NuGet</a> before you can publish your
          project to the NuGet repository.
        </p>

        <p>
          Once you have an account, get your API key from <a href="https://www.nuget.org/account">here</a> and
          place it into the <code>$HOME/.bud/nuGetApiKey</code> file.
        </p>

        <p>
          Now you can run <code>bud publish</code>. This will push the package to
          <code>https://www.nuget.org/packages/Foo/</code>.
        </p>


        <h3 class="slim-font">Setting the version of your project</h3>

        <p>
          This is how you specify the version of your project in the <code>.bud/Build.cs</code> file:
        </p>

        <ol>
          <li>First add the <code>using Bud.Projects;</code> directive to the top of the file.</li>
          <li>Then call <code>settings.Version("1.2.3")</code> in your <code>IBuild</code> class.</li>
        </ol>

        <h3 class="slim-font">Specifying dependencies</h3>

        <p>
          Say your project <code>Foo</code> needs the <code>Newtonsoft.Json</code> library.
        </p>


        <h3 class="slim-font">Using a plugin</h3>

        <div class="alert alert-warning">
          <span class="label label-warning">TODO:</span> Documentation missing.
        </div>


        <h3 class="slim-font">Writing a plugin</h3>

        <p>
          Put the following into your build configuration (i.e., into the <code>.bud/Build.cs</code>
          file):
        </p>

        <pre><code>settings.BudPlugin("Your.Plugin", baseDir)</code></pre>

        <p>
          Please use the following plugins as a reference source:
        </p>

        <ul>
          <li><a href="https://github.com/urbas/Bud.Examples.HelloWorldPlugin">Hello world plugin</a></li>
        </ul>

      </div>
    </div>

  </div>
</div>