<div class="pages-guide markdown">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">

        <%= Rails.application.assets['guide.html'].to_s.html_safe %>

      </div>
    </div>

  </div>
</div>