<div class="frame-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= PagesHelper::PAGES[0].url %>">Bud</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% PagesHelper::PAGES.each do |page| %>
              <li class="<%= "active" if page.member?(params[:page]) %>">
                <a href="<%= page.url %>"><%= page.name %></a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="margin-bottom"></div>
</div>