<div class="pages-home">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">

          <h2>Bud</h2>

          <p>
            The build tool without the "ill".
          </p>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
          <p>
            Install Bud via <a href="https://chocolatey.org/packages/bud">Chocolatey</a>!
          </p>

          <div class="alert alert-warning">
            <span class="label label-warning">Warning!</span> Bud is totally pre-alpha. No guarantees, many missing
            features, but a with lot of awesome!
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid super-trio">
    <div class="row">

      <div class="col-lg-4">
        <h2>Minimal setup</h2>

        <p>
          For simplest projects you don't even need anything. Just put your C# code into <code>src/main/cs</code> and
          run <code>bud</code>. This will compile your code and generate an EXE file.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>Automate all your processes</h2>

        <p>
          From downloading dependencies, compiling your code, testing, deployment, releases. You name it. Now you can do
          it with Bud. Just write some C#.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>Super fast and modern</h2>

        <p>
          Bud is not only super fast (i.e.: as fast as a normal .NET application). Bud uses
          great concepts used in other modern build tools.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid description">
    <div class="row">
      <div class="col-xs-12">

        <h2>Define your builds in C#</h2>

        <p>
          You can configure your build in the file <code>./bud/Build.cs</code>.
        </p>

        <p>
          Here's an example of a <code>Build.cs</code> file, where we define a
          simple EXE project with a NuGet dependency:
        </p>

<pre>
using Bud;
using Bud.CSharp;
using Bud.Projects;

public class Build : IBuild {
  public Settings Setup(Settings settings, string baseDir) {
    return settings.Project("Foo", baseDir, Cs.Exe(
        Cs.Dependency("Newtonsoft.Json")
    ));
  }
}
</pre>

        <p>
          Now place your C# sources into the <code>src/main/cs</code> folder and start coding.
        </p>

        <p>
          If you now invoke <code>bud.exe</code> in the root directory of your project, Bud will
          compile your code and produce the executable <code>Foo.exe</code> in the folder
          <code>.bud/output/main/cs/debug/bin</code>.
        </p>

      </div>
    </div>
  </div>
</div>