<div class="pages-home">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">

          <h2>Bud</h2>

          <p>
            The build tool without the "ill".
          </p>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
          <h3>Installation</h3>

          <p>
            Get it through <a href="https://chocolatey.org/packages/bud">Chocolatey</a>!
          </p>

          <div class="alert alert-warning">
            <span class="label label-warning">Warning!</span> Bud is totally pre-alpha. No guarantees, many missing
            features, but a with lot of awesome!
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid super-trio">
    <div class="row">

      <div class="col-lg-4">
        <h2>Define your builds in C#</h2>

        <p>
          For simplest projects you don't even need anything. Just put your C# code into <code>src/main/cs</code> and
          run <code>bud</code>.
        </p>

        <p>
          Here's the project definition of Bud itself:
        </p>

<pre>
using Bud;
using Bud.CSharp;
using Bud.Projects;
using Bud.Publishing;
using System.IO;

public class Build : IBuild {
  public Settings Setup(Settings settings, string baseDir) {
    return settings
      .Version("0.0.2")
      .Globally(CSharpKeys.TargetFramework.Init(Framework.Net46))
      .Project("bud", Path.Combine(baseDir, "bud"), Cs.Exe(
        Cs.Dependency("Bud.Core")
      ))
      .Project("Bud.Core", Path.Combine(baseDir, "Core"), Cs.Dll(
        Cs.Dependency("Microsoft.Bcl.Immutable"),
        Cs.Dependency("Newtonsoft.Json"),
        Cs.Dependency("NuGet.Core")
      ), Cs.Test(
        Cs.Dependency("NUnit")
      ))
      .Project("Bud.Test", Path.Combine(baseDir, "Test"), Cs.Dll(
        Cs.Dependency("Bud.Core"),
        Cs.Dependency("NUnit")
      ))
      .Project("Bud.SystemTests", Path.Combine(baseDir, "SystemTests"), Cs.Test(
        Cs.Dependency("Bud.Test")
      ));
  }
}
</pre>
      </div>

      <div class="col-lg-4">
        <h2>Automate all your processes</h2>

        <p>
          From downloading dependencies, compiling your code, testing, deployment, releases. You name it. Now you can do
          it with Bud. Just write some C#.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>Super fast and modern</h2>

        <p>
          Bud is not only super fast (i.e.: as fast as a normal .NET application). Bud is also an accumulation of many
          great concepts used in other modern build tools.
        </p>
      </div>
    </div>
  </div>
</div>