<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <title>Best Response</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="best-response">
<div ui-view="header"></div>
<toaster-container></toaster-container>
<div ui-view="body"></div>
<div ui-view="footer"></div>
</body>
</html>