<!DOCTYPE html>
<html ng-app="budpage">
<head lang="en">
  <title>Bud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="bud">
<toaster-container></toaster-container>
<%= render :partial => 'frame/header' %>
<%= yield %>
</body>
</html>